 *{
        overflow-x: hidden;


 }
 body{
    background-color:goldenrod;
    overflow-y: hidden ;
    margin: 0;
    padding: 0;

 }
.main-field{
    justify-content: center;
    height: 98vh;
    max-height: 100%;
    


}

.main-field img{
    width: 100%;
}


.select-character{
     position: absolute;
     max-width: 40%;
    left: 5%;
    overflow-y: visible;
    justify-content: center;
    background-color: rgba(46, 15, 15, 0.5) ;

}
.character{
    opacity: 100%;
    width: 40%;
}

.display-card{
    position: absolute;
    right: 0%;
    top: 50%;
    /* bottom: 25%; */
    /* height: 470px; */
    max-width: 40%;
}
.display-card img{
    width: 50%;
}


.card{
    width: 60%;
}


.user-field{
    position: absolute;
    left: 56%;
    right: 0%;
    bottom: 1%;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    text-align: start;
    max-width: 40%;


}
.bottom{
    margin-top: 5px;

}
.top{
    display: flex;
    align-items: center;;
}




.enemy-field{
    margin-left: 10px;
    left: 0%;
    max-width: 40%;

}
.enemy-field img{
    width: 100%;
}
.enemytop{
    margin-top: 5px;
    
}
.enemybottom{
    margin-top: 10px;

}

.user{
    transition: linear 0.2s;
}


.elemental-burst{

    z-index: 100;
    position: absolute;
     max-width: 100%;
     top: 12%;


}

.char-ultimate{
    transition: image ease-in 5s;
}

.elemental-burst img{
    width: 50%;

}




#fightbutton{
    position: absolute;
    bottom: 2%;
    width: 100px;
    height: 30px;
    background-color: green;
    left:  20%;
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 12px;
}

#ultimate{

    position: absolute;
    bottom: 50%;
    width: 100px;
    height: 30px;
    background-color: green;
    left:  40%;
    border-radius: 100px;
    outline: none;
    border: none;

}





#health-bar{
    height: 40px;
    overflow: hidden;
    transition: width 0.5s ease-in;
    width: 100%;
    border: solid;  

}
#health{
    height: 100%;
    width: 100%;
    background-color: green;
    overflow: hidden;
}

#enemyhealth-bar{
    height: 40px;
    overflow: hidden;
    transition: width 0.2s ease-in;
    width: 100%;
    border: solid;    

}

#enemyhealth{
    height: 100%;
    width: 100%;
    background-color: green;
    overflow: hidden;
}

@media screen and (orientation : landscape) {
    .oportrait{
        max-width: 40%;
    }
}

@media screen and (orientation : portrait) {
    .portrait img {
        width: 100%;
    }
}

@media screen and (orientation : portrait) {
    .burst {
        top: 30%;
    }
}

@media screen and (orientation : landscape) {
    .enemy img{
        width: 40%;
    }
}

